.navbar { box-shadow: 0 2px 10px rgba(0,0,0,.06); flood-color: blue;  }
.navbar-brand { font-weight: 700; letter-spacing: .2px; }
.navbar .nav-link { padding: .5rem .75rem; }
.navbar .nav-link.active, .navbar .nav-link:hover { text-decoration: underline; }
