<app-navbar></app-navbar>
<!-- My Leave Balance (per year) -->
<div class="card container"  *ngIf="balance" style="background-color: #fff; margin-top: 10px;">
  <div class="card-body">
    <div class="d-flex align-items-center gap-2">
      <label class="me-2 mb-0">Year:</label>
      <input type="number" [(ngModel)]="year" (change)="loadBalance()" class="form-control" style="width:120px">
    </div>

    <div class="container mt-3" style="background-color: #fff;" >
      <table class="table table-sm table-bordered">
        <thead>
          <tr>
            <th>Type</th>
            <th>Allowed</th>
            <th>Taken</th>
            <th>Remaining</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of ['MEDICAL','SICK','PRIVILEGED']">
            <td>{{ t }}</td>
            <td>{{ balance?.balances?.[t]?.allowed }}</td>
            <td>{{ balance?.balances?.[t]?.taken }}</td>
            <td>{{ balance?.balances?.[t]?.remaining }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container card py-4" style="background-color: #fff; margin-top: 10px;">
    <h5>My Leave Requests</h5>
    <table class="table table-striped mt-3" *ngIf="rows.length; else empty">
        <thead>
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Start</th>
                <th>End</th>
                <th>Remarks</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of rows; let i=index">
                <td>{{i+1}}</td>
                <td>{{r.type}}</td>
                <td>{{r.start_date}}</td>
                <td>{{r.end_date}}</td>
                <td>{{r.decision_remark}}</td>
                <td>
                    <span class="badge-status" [ngClass]="{
                        'badge-approved': r.status==='APPROVED',
                        'badge-rejected': r.status==='REJECTED',
                        'badge-pending':  r.status==='PENDING'
                        }">{{ r.status }}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #empty>
        <div class="text-muted">No requests yet.</div>
    </ng-template>
</div>